[user]
	email = nick@nicholasireland.ca
	name = Nicholas Ireland
[color]
	ui = true
	pager = no
	mergetool = no
[core]
	editor = nvim
	excludesfile = /Users/nireland/.gitignore
	page = nvim -R
[oh-my-zsh]
	hide-status = 0
	hide-dirty-status = 0
	hide-dirty = 0
[alias]
	cdate = !git --no-pager show -s --format=%ci
	head = rev-parse HEAD
	noskip = update-index --no-skip-worktree
	skip = update-index --skip-worktree
	this = rev-parse --abbrev-ref HEAD
    repo = "! git remote -v | pcregrep -o \"(?<=:).*(?=\\((fetch|push)\\))\" | sed 's:\\.git::g' | awk '!seen[$0]++' | perl -pE 's:([A-z\\/]*)\\n:\\1// :g' | sed 's:[ ]*//[ ]*$::g'"
    din = !git --no-pager diff --name-only
    last = "rev-parse --abbrev-ref @{-1}"
    tag-archived = "! f() { git tag archive/$1 $1; }; f"
    checkout-archived = "! f() { git checkout -b $1 archive/$1; }; f"
	base = "!git config repo.base-branch || echo \"\""
    ; stat = "! f() { git --no-pager diff --stat \"$(git merge-base HEAD \"${1:-HEAD^}\")\"; }; f"
    stat = "! f() { \
        git --no-pager diff --stat $(\
        [[ $1 = \"-f\" ]] \
            && echo $(git branch | grep -v '\\*' | sed 's:^[ ]*::g' | fzf) \
            || echo $(git merge-base HEAD \"${1:-HEAD^}\")); \
    }; f"
    ancestor = "!zsh -c 'git show $([[ ${#@} -gt 1 ]] && echo ${@:1:-1}) $(diff -u <(git rev-list --first-parent \"${@[-1]:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1)' -"
    tree = "!git log --oneline HEAD --pretty=format:'%d' --not master | ack -v '^[ ]*$' | awk -F ',' '{print $1}' | sed -E 's:^[ ]*(\\(HEAD ->[ ]|\\(origin/)::g' | gsed '$a master' | awk '{for(c=1;c<NR-1;c++) printf \" \"} NR>1 {printf \" ﬌ \"} {printf $0\"\\n\"}' | gsed '1i\\ ' | gsed '$a\\ '"
[mergetool "fugitive"]
	cmd = nvim -f \"$MERGED\"
[merge]
	tool = fugitive
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = vimdiff
[init]
	defaultBranch = main
