[submodule "zsh-bar-theme"]
	path = zsh-bar-theme
	url = git@github.com:xp-bar/zsh-bar-theme.git
[submodule "phpcs-standards"]
	path = phpcs-standards
	url = git@github.com:xp-bar/phpcs-standards.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "figlet-fonts"]
	path = figlet-fonts
	url = git@github.com:xero/figlet-fonts.git
[submodule "nvim/ftplugin/php"]
	path = nvim/ftplugin/php
	url = git@github.com:xp-bar/vim-php-folding.git
[submodule "nvim/packs/neovim-xp"]
	path = nvim/packs/neovim-xp
	url = git@github.com:xp-bar/neovim-xp.git
[submodule ".files-jumbleberry"]
	path = .files-jumbleberry
	url = git@github.com:xp-bar/.files-jumbleberry.git
[submodule "custom-php-cs-fixers"]
	path = custom-php-cs-fixers
	url = git@github.com:xp-bar/Custom-PHP-CS-Fixers.git
