[user]
	email = nick@nicholasireland.ca
	name = Nicholas Ireland
[color]
	ui = true
	pager = no
	mergetool = no
[hub]
	protocol = ssh
	token = 9085e229c8cb95af76b1b6224e4aa9c129f5a39c
[core]
	editor = nvim
	excludesfile = /Users/nireland/.gitignore
	page = nvim -R
[oh-my-zsh]
	hide-status = 0
	hide-dirty-status = 0
	hide-dirty = 0
[alias]
	cdate = !git --no-pager show -s --format=%ci
	head = rev-parse HEAD
	noskip = update-index --no-skip-worktree
	skip = update-index --skip-worktree
	this = rev-parse --abbrev-ref HEAD
    din = !git --no-pager diff --name-only
    last = "![[ -e .git/hooks/LAST_CHECKOUT_TIME ]] && cat .git/hooks/LAST_CHECKOUT_TIME | awk -F '@' '{print $2\"@\"$1}' | sort |  awk -F '@' '{print $2\"@\"$1}' | tail -n 2 | head -n 1 | sed 's:@.*::g'"
    tag-archived = "! f() { git tag archive/$1 $1; }; f"
    checkout-archived = "! f() { git checkout -b $1 archive/$1; }; f"
[mergetool "fugitive"]
	cmd = nvim -f \"$MERGED\"
[merge]
	tool = fugitive
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
